.hover-card:hover{
    transform: translateY(-5px);
    transition:0.3s;
    box-shadow: 0 10px 20px rgba(0,0,0,0.2);
}
body{
    background:#f5f6fa;
}
header{
    background: linear-gradient(45deg,#6c5ce7,#00b894);
    color:#fff;
    padding:80px 0;
    border-radius:15px;
}
